doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)
		title= "title"
		link(
			rel="stylesheet",
			href="css/style.min.css"
		)
	body
		include ../pug-parts/header/header.pug

		include ../pug-parts/footer/footer.pug
