doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)
		title="title"
		link(
			rel="stylesheet",
			href="css/style.min.css"
		)
		script(src="/js/libs.min.js")
		script(src="/js/main.js")
	body
		include ../pug-parts/header.pug
		include ../pug-parts/product.pug
		include ../pug-parts/footer.pug